body
{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}

.wrapper
{
	display: flex;
	justify-content:space-around;
	align-items:center;
	width:992px;
	height: 496px;

}

.wrapper div
{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items: center;
	width:20%;
	height:90%;
	border: 1px solid lightgray;
	border-radius: 8px;
	box-shadow: 5px 5px 5px lightgray;
}

.wrapper div img
{	
	width: 90%;
	height: 20%;
	
}

.wrapper div input
{
	background-color: dodgerblue;
	color:white;
	width:90%;
	height:10%;
	border:1px;
	border-radius:8px;
	cursor:pointer;
}

table,td {
    border: 1px solid #333;
    width: 50%;
    height: 20%;
}

thead,tfoot {
    background-color: #333;
    color: #fff;
}
