<!DOCTYPE html>
<html>
<head>
	<meta name = 'viewport' content = "width=device-width initial-scale = 1">
    <link rel='stylesheet' href = "{{url_for('static',filename='style.css')}}">
</head>
<body>
	<div class = 'wrapper'>
		<div class = 'content'>
			<img src="{{url_for('static',filename='HP-logo.svg')}}">
			<strong>Rs. 67,000</strong>
			<input type="button" value="Add to Cart">
		</div>
		<div class = 'content'>
			<img src="{{url_for('static',filename='Lenovo-logo.svg')}}">
			<strong>Rs. 65,000</strong>
			<input type="button" value="Add to Cart">
		</div>
		<div class = 'content'>
			<img src="{{url_for('static',filename='Dell-logo.svg')}}">
			<strong>Rs. 70,000</strong>
			<input type="button" value="Add to Cart">
		</div>
		<div class = 'content'>
			<img src="{{url_for('static',filename='Apple-logo.svg')}}">
			<strong>Rs. 1,10,000</strong>
			<input type="button" value="Add to Cart">
		</div>
	</div>
</body>
</html>